<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySchoolYearLabel" jhiTranslate="itehProjectApp.schoolYear.home.createOrEditLabel">Create or edit a School Year</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!schoolYear.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="schoolYear.id" readonly>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="itehProjectApp.schoolYear.startDate" for="field_startDate">Start Date</label>
            <div class="input-group">
                <p-calendar name="startDate" id="field_startDate" [(ngModel)]="schoolYear.startDate" showButtonBar="true" showIcon="true" monthNavigator="true" yearNavigator="true" required></p-calendar>
                
            </div>
            <div [hidden]="!(editForm.controls.startDate?.dirty && editForm.controls.startDate?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.startDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="itehProjectApp.schoolYear.endDate" for="field_endDate">End Date</label>
            <div class="input-group">
                <p-calendar name="endDate" id="field_endDate" [(ngModel)]="schoolYear.endDate" showButtonBar="true" showIcon="true" monthNavigator="true" yearNavigator="true" required></p-calendar>
                
            </div>
            <div [hidden]="!(editForm.controls.endDate?.dirty && editForm.controls.endDate?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.endDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
