<div>
    <h2>
        <span jhiTranslate="app.studentExam.home.title">Student Exams</span>
        <button class="btn btn-primary float-right jh-create-entity create-student-exam" [routerLink]="['/', { outlets: { popup: ['student-exam-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="app.studentExam.home.createLabel">
            Create new Student Exam
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'app.studentExam.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="studentExams">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="attended"><span jhiTranslate="app.studentExam.attended">Attended</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="grade"><span jhiTranslate="app.studentExam.grade">Grade</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="studentFullName"><span jhiTranslate="app.studentExam.student">Student</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="examId"><span jhiTranslate="app.studentExam.exam">Exam</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="evaluatedByFullName"><span jhiTranslate="app.studentExam.evaluatedBy">Evaluated By</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let studentExam of studentExams ;trackBy: trackId">
                <td><a [routerLink]="['../student-exam', studentExam.id ]">{{studentExam.id}}</a></td>
                <td>{{studentExam.attended}}</td>
                <td>{{studentExam.grade}}</td>
                <td>
                    {{studentExam.studentFullName}}
                </td>
                <td>
                    <div *ngIf="studentExam.examId">
                        <a [routerLink]="['../exam', studentExam.examId  ]" >{{studentExam.examId}}</a>
                    </div>
                </td>
                <td>
                    {{studentExam.evaluatedByFullName}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../student-exam', studentExam.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'student-exam/'+ studentExam.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'student-exam/'+ studentExam.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="studentExams && studentExams.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
