<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myStudentExamLabel" jhiTranslate="app.studentExam.home.createOrEditLabel">Create or edit a Student Exam</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!studentExam.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="studentExam.id" readonly />
        </div>

        <checkbox-input [field]="'attended'" [entityName]="'studentExam'"
                        [object]="studentExam" [form]="editForm"></checkbox-input>

        <field-input [field]="'grade'" [type]="'INTEGER'" [entityName]="'studentExam'" [object]="studentExam"
                     [form]="editForm" [min]="5" [max]="10"></field-input>

        <field-input [field]="'student'" [type]="'REL_TO_ONE'" [entityName]="'studentExam'" [object]="studentExam"
                     [form]="editForm" [optionNameField]="'fullName'" [options]="students" [required]="true"></field-input>

        <field-input [field]="'exam'" [type]="'REL_TO_ONE'" [entityName]="'studentExam'" [object]="studentExam"
                     [form]="editForm" [optionNameField]="'id'" [options]="exams" [required]="true"></field-input>

        <field-input [field]="'evaluatedBy'" [type]="'REL_TO_ONE'" [entityName]="'studentExam'" [object]="studentExam"
                     [form]="editForm" [optionNameField]="'fullName'" [options]="lecturers"></field-input>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
