<div *ngIf="user">
    <h2>
        <span jhiTranslate="itehProjectApp.user.detail.title">User</span> [<b>{{user.login}}</b>]
    </h2>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="itehProjectApp.user.login">Login</span></dt>
        <dd>
            <span>{{user.login}}</span>
            <jhi-boolean
                [value]="user.activated"
                [textTrue]="'itehProjectApp.user.activated' | translate"
                [textFalse]="'itehProjectApp.user.deactivated' | translate">
            </jhi-boolean>
        </dd>
        <dt><span jhiTranslate="itehProjectApp.user.firstName">First Name</span></dt>
        <dd>{{user.firstName}}</dd>
        <dt><span jhiTranslate="itehProjectApp.user.lastName">Last Name</span></dt>
        <dd>{{user.lastName}}</dd>
        <dt><span jhiTranslate="itehProjectApp.user.email">Email</span></dt>
        <dd>{{user.email}}</dd>
        <dt><span jhiTranslate="itehProjectApp.user.langKey">Lang Key</span></dt>
        <dd>{{user.langKey}}</dd>
        <dt><span jhiTranslate="itehProjectApp.user.userType">Type</span></dt>
        <dd>{{'itehProjectApp.user.types.' + user.userType | translate}}</dd>
    </dl>

    <button type="submit" routerLink="/user-management" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" [routerLink]="['/', { outlets: { popup: 'user-management/'+ user.login + '/edit'} }]"
            replaceUrl="true" queryParamsHandling="merge" class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
    </button>
</div>
