<div>
    <h2>
        <span jhiTranslate="itehProjectApp.user.home.title"></span>
        <div class="btn-group" role="group">
            <div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="userType">
                <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" [value]="null"/>
                    {{'itehProjectApp.user.types.all' | translate}}
                </label>
                <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" value="ST"/>
                    {{'itehProjectApp.user.types.ST' | translate}}
                </label>
                <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" value="LC"/>
                    {{'itehProjectApp.user.types.LC' | translate}}
                </label>
                <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" value="SR"/>
                    {{'itehProjectApp.user.types.SR' | translate}}
                </label>
                <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" value="AD"/>
                    {{'itehProjectApp.user.types.AD' | translate}}
                </label>
            </div>
        </div>
        <button class="btn btn-primary float-right jh-create-entity" [routerLink]="['/', { outlets: { popup: ['user-management-new'] } }]">
            <span class="fa fa-plus"></span> <span jhiTranslate="itehProjectApp.user.home.createLabel">Create a new User</span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="table-responsive" *ngIf="users">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="login"><span jhiTranslate="itehProjectApp.user.login">Login</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="lastName"><span jhiTranslate="itehProjectApp.user.lastName">Email</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="firstName"><span jhiTranslate="itehProjectApp.user.firstName">Email</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="email"><span jhiTranslate="itehProjectApp.user.email">Email</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="userType"><span jhiTranslate="itehProjectApp.user.userType">Type</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="langKey"> <span jhiTranslate="itehProjectApp.user.langKey">Lang Key</span> <span class="fa fa-sort"></span></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody *ngIf="users">
            <tr *ngFor="let user of users; trackBy: trackIdentity">
                <td><a [routerLink]="['../user-management', user.login]">{{user.login}}</a></td>
                <td>{{user.lastName}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.email}}</td>
                <td>{{'itehProjectApp.user.types.' + user.userType | translate}}</td>
                <td>{{user.langKey}}</td>
                <td>
                    <button class="btn btn-danger btn-sm" (click)="setActive(user, true)" *ngIf="!user.activated"
                            jhiTranslate="itehProjectApp.user.deactivated">Deactivated</button>
                    <button class="btn btn-success btn-sm" (click)="setActive(user, false)" *ngIf="user.activated"
                            [disabled]="currentAccount.login === user.login" jhiTranslate="itehProjectApp.user.activated">Activated</button>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../user-management', user.login]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-management/'+ user.login + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-management/'+ user.login + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm" [disabled]="currentAccount.login === user.login">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="users">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
