<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myExamLabel" jhiTranslate="app.exam.home.createOrEditLabel">Create or edit a Exam</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!exam.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="exam.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="app.exam.time" for="field_time">Time</label>
            <div class="d-flex">
                <input id="field_time" type="datetime-local" class="form-control" name="time" [(ngModel)]="exam.time"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.time?.dirty && editForm.controls.time?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.time?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.time?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="app.exam.period" for="field_period">Period</label>
            <select class="form-control" id="field_period" name="period" [(ngModel)]="exam.periodId"  required>
                <option *ngIf="!editForm.value.period" [ngValue]="null" selected></option>
                <option [ngValue]="examPeriodOption.id" *ngFor="let examPeriodOption of examperiods; trackBy: trackExamPeriodById">{{examPeriodOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.period?.dirty && editForm.controls.period?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.period?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="app.exam.course" for="field_course">Course</label>
            <select class="form-control" id="field_course" name="course" [(ngModel)]="exam.courseId"  required>
                <option *ngIf="!editForm.value.course" [ngValue]="null" selected></option>
                <option [ngValue]="courseOption.id" *ngFor="let courseOption of courses; trackBy: trackCourseById">{{courseOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.course?.dirty && editForm.controls.course?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.course?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
