<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFacebookPostProposalLabel" jhiTranslate="app.facebookPostProposal.home.createOrEditLabel">Create or edit a Facebook Post Proposal</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!facebookPostProposal.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="facebookPostProposal.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="app.facebookPostProposal.kind" for="field_kind">Kind</label>
            <select class="form-control" name="kind" [(ngModel)]="facebookPostProposal.kind" id="field_kind"  required>
                <option value="EXAM_PASSED">{{'app.FacebookPostKind.EXAM_PASSED' | translate}}</option>
                <option value="EXAM_FAILED">{{'app.FacebookPostKind.EXAM_FAILED' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.kind?.dirty && editForm.controls.kind?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.kind?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="app.facebookPostProposal.data" for="field_data">Data</label>
            <input type="text" class="form-control" name="data" id="field_data"
                [(ngModel)]="facebookPostProposal.data" required/>
            <div [hidden]="!(editForm.controls.data?.dirty && editForm.controls.data?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.data?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="app.facebookPostProposal.time" for="field_time">Time</label>
            <div class="d-flex">
                <input id="field_time" type="datetime-local" class="form-control" name="time" [(ngModel)]="facebookPostProposal.time"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.time?.dirty && editForm.controls.time?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.time?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.time?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="app.facebookPostProposal.student" for="field_student">Student</label>
            <select class="form-control" id="field_student" name="student" [(ngModel)]="facebookPostProposal.studentId"  required>
                <option *ngIf="!editForm.value.student" [ngValue]="null" selected></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.fullName}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.student?.dirty && editForm.controls.student?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.student?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
