
<div *ngIf="courseEnrollment">
    <h2><span jhiTranslate="itehProjectApp.courseEnrollment.detail.title">Course Enrollment</span> {{courseEnrollment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="itehProjectApp.courseEnrollment.totalPoints">Total Points</span></dt>
        <dd>
            <span>{{courseEnrollment.totalPoints}}</span>
        </dd>
        <dt><span jhiTranslate="itehProjectApp.courseEnrollment.grade">Grade</span></dt>
        <dd>
            <span>{{courseEnrollment.grade}}</span>
        </dd>
        <dt><span jhiTranslate="itehProjectApp.courseEnrollment.completed">Completed</span></dt>
        <dd>
            <span>{{courseEnrollment.completed}}</span>
        </dd>
        <dt><span jhiTranslate="itehProjectApp.courseEnrollment.yearEnrollment">Year Enrollment</span></dt>
        <dd>
            <div *ngIf="courseEnrollment.yearEnrollmentId">
                <a [routerLink]="['/school-year-enrollment', courseEnrollment.yearEnrollmentId]">{{courseEnrollment.yearEnrollmentId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="itehProjectApp.courseEnrollment.course">Course</span></dt>
        <dd>
            <div *ngIf="courseEnrollment.courseId">
                <a [routerLink]="['/course', courseEnrollment.courseId]">{{courseEnrollment.courseId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'course-enrollment/'+ courseEnrollment.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
