<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCommitmentLabel" jhiTranslate="app.commitment.home.createOrEditLabel">Create or edit a Commitment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!commitment.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="commitment.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="app.commitment.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="commitment.name" required maxlength="255"/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 255 }">
                   This field cannot be longer than 255 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="app.commitment.maxPoints" for="field_maxPoints">Max Points</label>
            <input type="number" class="form-control" name="maxPoints" id="field_maxPoints"
                [(ngModel)]="commitment.maxPoints" required/>
            <div [hidden]="!(editForm.controls.maxPoints?.dirty && editForm.controls.maxPoints?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.maxPoints?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.maxPoints?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="app.commitment.course" for="field_course">Course</label>
            <select class="form-control" id="field_course" name="course" [(ngModel)]="commitment.courseId"  required>
                <option *ngIf="!editForm.value.course" [ngValue]="null" selected></option>
                <option [ngValue]="courseOption.id" *ngFor="let courseOption of courses; trackBy: trackCourseById">{{courseOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.course?.dirty && editForm.controls.course?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.course?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
