
<div *ngIf="commitment">
    <h2><span jhiTranslate="app.commitment.detail.title">Commitment</span> {{commitment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="app.commitment.name">Name</span></dt>
        <dd>
            <span>{{commitment.name}}</span>
        </dd>
        <dt><span jhiTranslate="app.commitment.maxPoints">Max Points</span></dt>
        <dd>
            <span>{{commitment.maxPoints}}</span>
        </dd>
        <dt><span jhiTranslate="app.commitment.course">Course</span></dt>
        <dd>
            <div *ngIf="commitment.courseId">
                <a [routerLink]="['/course', commitment.courseId]">{{commitment.courseName}}</a>
            </div>
        </dd>
    </dl>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'commitment/'+ commitment.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
